.profile__button-edit {
  background-image: url(../../../image/edit.svg);
  border: 1px solid #ffffff;
  background-color: black;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-position: center;
  margin: 0 0 0 18px;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
  }
}
