.profile__subtitle {
  font-style: normal;
  margin: 0;
  padding: 16px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 14px 0 0 0;
  }
}
