.popup__button-close {
  background-image: url(../../../image/Close.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: opacity .25s linear;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .popup__button-close {
    background-repeat: no-repeat;
    right: 0;
    top: -50px;
  }
}

@media screen and (max-width: 440px) {
  .popup__button-close {
    background-image: url(../../../image/CloseMobile.svg);
  }
}

@media screen and (max-width: 320px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -30px;
    background-size: contain;
  }
}
