.popup__button-close {
  background-image: url(../../../image/Close.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: black;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__button-close {
    right: 0;
    top: -50px;
  }
}

@media screen and (max-width: 320px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -30px;
    background-size: contain;
  }
}
