.profile__info {
    max-width: 336px;
    min-height: 73px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 568px) {
    .profile__info {
      margin: 0 auto;
      align-items: center;
    }
  }

@media screen and (max-width: 320px) {
    .profile__info {
    margin: 0 auto;
    }
  }
  