.element__button-like {
  background-image: url(../../../image/Like.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-color: white;
}

.element__button-like:hover {
  transition: opacity .5s ease;
  cursor: pointer;
}





